<template>
  <div id="app">
    <div class="container">
      <div class="header">
        <h1>Comments</h1>
        <div class="headerForm">
          <input type="text" placeholder="Find some" v-model="search" />
          <button type="submit">Create</button>
          <create-comment v-if="false"></create-comment>
        </div>
      </div>
      <div class="table">
        <div class="tableHead">
          <div class="commentId">ID</div>
          <div class="commentName">NAME</div>
          <div class="commentEmail">EMAIL</div>
          <div class="commentBody">COMMENT</div>
        </div>
        <div
          class="tableBody"
          v-for="comment in filterComments"
          :key="comment.id"
        >
          <div class="commentId">{{ comment.id }}</div>
          <div class="commentName">{{ comment.name }}</div>
          <div class="commentEmail">{{ comment.email }}</div>
          <div class="commentBody">{{ comment.body }}</div>
        </div>
      </div>
    </div>
    
  </div>
</template>

<script>
import CreateComment from './components/CreateComment.vue'
export default {
  name: "App",
  components: {
    CreateComment
  },
  data() {
    return {
      comments: [],
      search: "",
      newComment: [],
    };
  },
  mounted() {
    this.axios
      .get("https://jsonplaceholder.typicode.com/comments")
      .then((response) => (this.comments = response.data))
      .catch((error) => console.log(error));

    // this.axios
    //   .post("https://jsonplaceholder.typicode.com/comments", this.newComment)
    //   .then((response) => {
    //     console.log(response);
    //   })
    //   .catch((error) => {
    //     console.log(error);
    //   });
  },
  methods: {
    go() {
      console.log(this.comments);
    },
  },
  computed: {
    filterComments() {
      return this.comments.filter((comment) => {
        return comment.email.indexOf(this.search) > -1;
      });
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.tableBody,
.tableHead {
  justify-items: flex-start;
  align-items: center;
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: 0.25fr 1fr 1fr 1.75fr;
  grid-template-rows: 1fr;
  gap: 1px 10px;
}
.header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerForm button {
  color: azure;
  background: #000;
  border: none;
  margin: 0px 15px;
  height: 30px;
  width: 80px;
}
</style>
